#board {
   height: 100%;
   width: 100%;
   display: hidden;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(11, 1fr);
   background-color: lightblue;
}

#score {
   display: hidden;
   grid-row: 1 / 2;
   grid-column: 4 / span 2;
   margin: auto;
   border: 2px solid black;
   font-size: 18px;
}

.box {
   height: 50px;
   width: 50px;
}

#startContainer {
   height: 100%;
   width: 100%;
   position: absolute;
   text-align: center;
}

#btn {
   display:inline-block;
   text-align: center;
}

#restartbutton {
   display:inline-block;
   text-align: center;
}

#endContainer {
   display: hidden;
   height: 100%;
   width: 100%;
   position: absolute;
   text-align: center;
}