#board {
   height: 100%;
   width: 100%;
   display: hidden;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(14, 1fr);
   background-color: lightblue;
   column-gap: 10px;
   row-gap: 10px;
}

#score {
   display: hidden;
   grid-row: 1 / 2;
   grid-column: 6 / span 2;
   margin: auto;
   border: 2px solid black;
   font-size: 18px;
}

#difficulty {
   display: hidden;
   height: 100%;
   width: 100%;
   position: absolute;
   text-align: center;
}

.box {
   height: 30px;
   width: 30px;
}

#startContainer {
   height: 100%;
   width: 100%;
   position: absolute;
   text-align: center;
}

.flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   border: 1px solid black;
}

.flexmain {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
}

#btn {
   display:inline-block;
   text-align: center;
}

#restartbutton {
   display:inline-block;
   text-align: center;
}

#endContainer {
   display: hidden;
   height: 100%;
   width: 100%;
   position: absolute;
   text-align: center;
}

p:first-child {
   font-size: 25px;
}

p:nth-child(2) {
   font-size: 18px;
}

#grayblock {
   background-color: #999999;
   margin: 10px;
}

#darkredblock {
   background-color: #800000;
   margin: 10px;
}

#darkgreenblock {
   background-color: #006400;
   margin: 10px;
}

#yellowblock {
   background-color: #FFFF00;
   margin: 10px;
}

#salmonblock {
   background-color:#FA8072;
   margin: 10px;
}

#redblock {
   background-color: #FF0000;
   margin: 10px;
}

#purpblock {
   background-color: #8A2BE2;
   margin: 10px;
}

@media (min-width:320px)  {
   .box {
      height: 35px;
      width: 35px;
   }
}

@media (min-width:480px)  {
   .box {
      height: 40px;
      width: 40px;
   }
}

@media (min-width:600px)  {
   .box {
      height: 45px;
      width: 45px;
   }
}

@media (min-width:801px)  {
   .box {
      height: 50px;
      width: 50px;
   }
}

@media (min-width:1025px) {
   .box {
      height: 55px;
      width: 55px;
   }
}

@media (min-width:1281px) { 
   .box {
      height: 55px;
      width: 60px;
   }
}

@media (min-width: 1600px) {
   .box {
      height: 60px;
      width: 70px;
   }
}

@media (min-width: 2000px) {
   .box {
      height: 65px;
      width: 80px;
   }
}